<h1>Applications#show</h1>

  <p><%= @application.name %></p>
  <p><%= @application.address %></p>
  <p><%= @application.description %></p>
  <p><%= @application.pets %></p>
  <p><%= @application.status %></p>

